
@use "./variables.scss" as *;

$--size: (
    (
        'large': 54px,
        'default': 32px,
        'small': 28px,
    )
);

$--table: (
    (
        'text-color': #1d2126,
        'border-color': $border-color,
        'row-hover-bg-color': rgba($primary, .05),
        'current-row-bg-color': rgba($primary, .1),
    )
);

$--card: (
    (
        'border-color': $border-color,
        'padding': 15px,
    )
);

$--tag-height: (
    (
        'small': 18px,
    )
);

$--menu: (
    (
        'text-color': #9098a6,
        'hover-text-color': #fff,
        'bg-color': #393e46,
        'hover-bg-color': #1d2126
    )
);

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'black': $main,
        'primary': (
            'base': #406fc9,
            'placeholder': #616b7a,
        ),
        'danger': (
            'base': #aa2c30,
        ),
    ),
    $text-color: (
        (
            'regular': #1d2126,
        )
    ),
    // $common-component-size: $--size,
    $table: $--table,
    $tree: (
        (
            'node-content-height': 32px,
            'text-color': #4a6376,
            'expand-icon-color': #b1b1b2
        )
    ),
    $card: $--card,
    $tag-height: $--tag-height,
    $menu: $--menu,
);

// 如果你想导入所有样式:
@use "element-plus/theme-chalk/src/index.scss" as *;