// colors
$primary: #406fc9;
$danger: #f56c6c;
$success: #67c23a;
$warning: #d4542f;
$info: #909399;

// text-color
$main: #1d2126;
$regular: #4a6376;
$secondary: #909399;
$placeholder: #616b7a;

// border
$border-color: #d4d8dd;

// disabled
$disabled: #f6f7f9;
$disabled-bg: #f6f7f9;
$disabled-border: #d3d8de;

// radius
$radius-sm: 2px;
$radius-base: 4px;
$radius-md: 8px;
$radius-lg: 12px;

// font-size
$font-sm: 12px;
$font-base: 14px;
$font-md: 16px;
$font-lg: 18px;

// menu
