
$primary: #406fc9;
$main: #000033;
$danger: #d4542f;

$placeholder: #616b7a;
$disabled-bg: #f6f7f9;
$disabled-border: #d3d8de;
$border-color: #d4d8dd;

// text-color 待确认颜色
// 'primary': #303133 // 主要
// 'regular': #606266 // 常规
// 'secondary': #909399 // 辅助
// 'placeholder': #a8abb2 // 占位
// 'disabled': #c0c4cc // 禁用

// 状态色 待确认颜色
// primary
// succss
// warning
// danger
// error
// info
